html {
  position: relative;
  min-height: 100%;
}
html,
body {
  overflow:auto;
}
#footer {
  position: absolute;
  color: white;
  background-color: gray;
  bottom: 0;
  width: 100%;
  height: 165px;
  display: inline-block;
  overflow: hidden;
}

.list-unstyled li a{
  color: white;
}